.select-component {
    margin: 10px 0;
  
    label {
      span {
        color: #f65261;
        text-transform: uppercase;
        margin: 5px 3px;
        display: inline-block;
      }
    }
    select {
      height: 36px;
      border-radius: 5px;
      background-color: #424242;
      color: #ffffff;
      width: 100%;
      option {
        padding: 5px 0;
      }
    }
  }
  