@import '../colors';

.error {
  width: 50%;
  margin: 0 auto;
  margin-top: 10rem;

  .title {
    font-size: 4rem;
    text-align: center;
  }

  .text {
    font-size: 1.75rem;
    margin-top: 3rem;
    text-align: center;
  }

  .errorButton {
    margin-top: 3rem;
    text-align: center;
  }

  .errorCode {
    margin-top: 3rem;
    font-size: 2.25rem;
    text-align: center;
    p {
      border-left: 5px solid $secondaryColor;
      padding: 0.75rem 1rem;
      display: inline-block;
    }
  }
}
