@import '../../colors';

.component {
  margin: 7px 0;
  input {
    height: 32px;
    border-radius: 5px;
    background-color: $inputBackgroundColor;
    color: $primaryColor;
    width: 100%;
    padding-left: 3px;
    &::-webkit-input-placeholder {
      padding-left: 3px;
    }
    &::-moz-placeholder {
      padding-left: 3px;
    } /* Firefox 19+ */
    &:-moz-placeholder {
      padding-left: 3px;
    } /* Firefox 18- */
    &:-ms-input-placeholder {
      padding-left: 3px;
    }
  }
  label {
    span {
      text-transform: uppercase;
      margin: 3px;
      display: inline-block;
    }
  }
}
