$primaryColor: #ffffff;
$secondaryColor: #f65261;
$backgroundColor: #424242;

.input-component {
    margin: 10px 0;
    input {
      height: 36px;
      border-radius: 5px;
      background-color: $backgroundColor;
      color: $primaryColor;
      width: 100%;
    }
    label {
      span {
        color: $secondaryColor;
        text-transform: uppercase;
        margin: 5px 3px;
        display: inline-block;
      }
    }
  }
  