@import '../colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;

  img {
    width: 2rem;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}
